 body {
font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
line-height: 1.6;
font-weight: 500;
}
body, html {
  height: 100%;
  width: 100%;
}
.bg{

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
 /* CAROUSEL */
.carousel-indicators {
  text-align: right;
  float: right;
  right: 2% !important;
  left: inherit;
}
.carousel-control-prev{
  top: 90%;
  left: 45%;
  opacity: 100%;
}
.carousel-control-next{
  top: 75%;
  right: 40%;
  opacity: 100%;
}
/*--------------------------------CONTENT--------------------------------*/
  /* TATEGAKI */
.TategakiBackGround{
  background-image: url("Tategaki/tategakiBG2.png");
  }
.tategaki {
	direction: ltr;
	display: inline-block;
	text-align: left;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}
.highlight{
  background-color: #ec9700;
}
  /* SPECIAL CONTENT */
.bgSpecialContent{
    background-image: url("SpecialContent/SC_BG3.png");
}
.SpecialContent{
  height: 460px;
  width: 500px; 

}
.SpecialContent2{
  height: 100%;
  width: 100%;
}
.srcSpecialContent-Content1{
  background-image: url("SpecialContent/SC_Pic2.png");
}
.srcSpecialContent-Content2{
  background-image: url("SpecialContent/SC_Pic1.png");
}
  /* Company */
.CompanyContent{

}
.Company{
    background-image: url("Company/C_BG2.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Company>.container>.row {
    height: 400px;
    width: 1400px;
    margin-left:-170px ;
  }
  .Company>.container>.row>div:nth-child(1) {
    height: 300px;
    width: 440px;
  }
  .Company>.container>.row>div:nth-child(1)>.BGContent1{
   background-color: #efefef;
   height: 300px;
   width: 440px;
   padding-top: 20%;
   text-align: center;
  }
  .Company>.container>.row>div:nth-child(2) {
    height: 300px;
    width: 440px;
  }
  .Company>.container>.row>div:nth-child(2)>.BGContent2{
    background-image: url("Company/C_Pic1.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

  .Company>.container>.row>div:nth-child(3) {
    height: 300px;
    width: 440px;
  }
  .Company>.container>.row>div:nth-child(3)>.BGContent3{
    background-color: #efefef;
    height: 300px;
    width: 440px;
    padding-top: 20%;
    text-align: center;
   }
   .LogoBG{
       font-size: 70px; 
       letter-spacing: 6px;
       font-weight: bold;
       font-family: "MS Gothic";

   }
   .Company>.container>.row span{
       font-size: 10pt;
   }
.DescriptionContentCompany{
    color: lightslategrey;
    margin-top: 10px;
    float: right;
}
.Company>.container>.row>div:nth-child(1)>.BGContent1 a{
    margin-top: 8%;
    margin-right: 55.1%;
    position: relative;
}
.Company>.container>.row>div:nth-child(3)>.BGContent3 a{
    margin-top: 8%;
    margin-right: 55%;
    position: relative;
}
.Company>.container>.row>div:nth-child(2)>.BGContent2 a{
    margin-top: 60%;
}

  /* SPECIAL CONTENT */
.Work{
    background-image: url("Work/W_BG.png");
    height: 100%;
    width: 100%;
    margin-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.HeaderWork{
    margin-left:230px;
    padding-bottom:100px;
  }
.Work span{
    font-size: 10pt;
}
.Work h2{
    font-size: 100px;
    letter-spacing: 6px;
}


.Work>.container>.row {
    height: 400px;
    width: 1400px;
    margin-left:-100px ;
  }
.Work>.container>.row>div:nth-child(1) {
    height: 315px;
    width: 700px;
  }
  .Work>.container>.row>div:nth-child(2) {
    height: 315px;
    width: 700px;
  }
.Work>.container>.row>div:nth-child(1)>.BGContent{
    background-image: url('Work/W_Pic2.png');
   height: 100%;
   width: 100%;
   padding-top: 20%;
   text-align: center;
  }
  .Work>.container>.row>div:nth-child(2)>.BGContent{
    background-image: url('Work/W_Pic1.png');
    height: 100%;
    width: 100%;
    padding-top: 20%;
    text-align: center;
   }
.Work>.container>.row>div:nth-child(1)>.BGContent a{
    margin-top: 18.6%;
    margin-right: 50%;
    position: relative;
}
.Work>.container>.row>div:nth-child(2)>.BGContent a{
    margin-top: 18.6%;
    margin-right: 65.8%;
    position: relative;
}

  /* RECRUIT */
  .Recruit{
    background-image: url("RECRUIT/R_BG.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.HeaderRecruit{
    margin-left:230px;
    padding-bottom:100px;
  }
.Recruit span{
    font-size: 10pt;
}
.Recruit h2{
    font-size: 100px;
    letter-spacing: 6px;
}

.Recruit>.container>.row {
    width: 1140px;
    margin-left: -12px;
  }
.Recruit>.container>.row>div:nth-child(1) {
    height: 100%;
    width: 100%;
  }
  .Recruit>.container>.row>div:nth-child(2) {
    height: 100%;
    width: 100%;
  }
  .Recruit>.container>.row>.col>.BGContent>.btn>.nexticn{
    margin-left: 330px;
}

.BackButton{
    font-weight: bold;
    color:blue;
    text-decoration: none;
    text-align: center;
}
footer .container-fluid>.row>div:nth-child(5)>.row>.col>.LogoFooter{
    height: 75px;
    width: 230px;
    background-color: white;
    text-align:center;
    padding-top:10px ;
}
footer .container-fluid>.row>div:nth-child(5)>.row>.col>.LogoFooter span{
    color: #000;
    font-family: "MS Gothic";
    font-size: 26pt;
    font-weight: bold;
    letter-spacing: 6px;

}
footer .container-fluid>div:nth-child(2){
    text-align: center;
    background-color: #1f5bad;
}